:root {
    --dark-background: #1C2331;
    --dark-accent: #2C3E50;
    --light-text: #F7F9FC;
    --primary-highlight: #5f999b;
    --secondary-highlight: #4a7f81;
    --footer-background: #253345;
    --news-background: rgba(44, 62, 80, 0.6);
    --soft-border-radius: 10px;
    --card-background: rgba(255, 255, 255, 0.05);
}

